@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Pattaya|Work+Sans:400,200,300);
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

#main {
    width: 75%;
    box-shadow: 1px 1.5px 1px #000;
    border-radius: 15px;
    background: #ff9900;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
}

a:link {
    text-decoration: none;
}

iframe,
object,
embed {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.mobile {
    cursor: url('../images/finger.png'), auto;
}

#tapMe,
#spacerun {
    background-image: url(../images/hand.png);
    background-repeat: no-repeat;
    background-position: 30% 2em;
}

#icon {
    width: 5rem;
}

/* Box Model */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Basic */

@-ms-viewport {
    width: device-width;
}

@media screen and (max-width: 480px) {
    html,
    body {
        min-width: 320px;
    }
}

.box img {
    width: 100%;
}

/* Top Container */

.top-container {
    display: grid;
    margin: 0 auto;
    grid-gap: 20px;
    width: 60%;
    text-align: center;
}

.top-container img {
    height: auto;
    width: 100%;
}

.boxes {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 auto;
}

.box {
    text-align: center;
    width: auto;
    margin: 0;
}

/*Hover effect*/

.char {
    opacity: 1;
    display: block;
    margin: auto;
    transition: .5s ease;
    padding-right: .2rem;
    width: 9.375rem;
    height: 9.375rem;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.picture {
    position: relative;
    display: inline-block;
}

.picture:hover .char {
    opacity: 0.3;
}

.picture:hover .middle {
    opacity: 1;
}

.text {
    background-color: #0B89D5;
    color: white;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
}

/* Media Queries */

@media screen and (max-width: 736px) {
    .columns {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    #tapMe,
    #spacerun {
        background-position: -10em 0%;
    }
}

@media screen and (max-width: 480px) {
    .columns {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    #tapMe,
    #spacerun {
        background-image: none;
    }
}